<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-deader">
          <a class="navbar-brand" href="/">Rails 105</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="collapse navbar-collapse">
              <li>
                  <%= link_to("login", '#') %>
              </li>
            </ul>
        </div>
      </div>
    </nav>
